@import "@/styles/variables.scss";

.product-card{
    max-width: 300px;
    margin: 0 1rem;
    border: 1px solid #eee;
    hr{
        width: 95%;
        margin: 1rem auto;
        color: #c7c7c7;
    }
    &__actions{
        @include flex_horizontal_between();
    }
    &__price-container{
        font-weight: 600;
        .discount-price{
            margin-right: 15px;
        }
        .old-price{
            color: #979797;
            position: relative;
            &::after{
                content: '';
                position: absolute;
                width: 130%;
                text-align: center;
                height: 2px;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background-color: #979797;
            }
        }
    }
    &__content{
        margin-top: .5rem;
        padding: .6rem;
        font-size: 1.1rem;
        line-height: 160%;
    }
    &__name{
        font-size: 1.3rem;
    }
    &__button{
        @include input_reset();
        @include flex_center();
        background-color: $light_blue;
        color: #fff;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        &:hover{
            cursor: pointer;
            opacity: .8;
            transition: .2s;
        }
    }
}